<div class="row">
  <div class="col-md-6">
    <h3> </h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Monday, June 22: </td>  <td> Introducing the shell: Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>Wednesday, June 24:</td>  <td>Working with files and directories in Terminal</td> </tr>
      <tr> <td>Monday, June 29:</td>  <td>  Python Fundamentals </td> </tr>
      <tr> <td>Wednesday, July 1: </td>  <td>Analyzing Data with Python</td> </tr>
      <tr> <td>Wednesday, July 8:</td>  <td>Data Visualization in Python</td> </tr>
      <tr> <td>Monday, July 13:</td>  <td>Afternoon break</td> </tr>
      <tr> <td>Wednesday, July 15:</td>  <td>Building Programs with Python (Continued)</td> </tr>
      <tr> <td>Monday, July 20:</td>  <td>Wrap-up</td> </tr>
      <tr> <td>Wednesday, July 22:</td>  <td>END</td> </tr>
      <tr> <td>Monday, July 27:</td>  <td>END</td> </tr>
      <tr> <td>Wednesday, July 29:</td>  <td>END</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
 
 <div class="col-md-6">
    
    </table>
  </div>
</div>
